@import 'src/styles/global.scss';
.header {
    padding: 0 1.5rem;
    transition: 0.3s ease all;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    &__content {
        &__nav li {
            list-style: none;
            @include breakpoint(lg) {
            a {
                text-transform: capitalize;
                color: #232323;
            }}
            a:hover {
                color: var(--main-color);
            }
        }
        &__icons {
            li {
                margin-left: 10px;
                list-style: none;
                &:hover {
                    color: var(--main-color);
                    transition: 1s ease all;
                }
            }
        }}
}

nav a:hover {
    color: var(--main-color);
}
