@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,300;0,400;0,600;1,500&display=swap');

// font-family: 'Mrs Saint Delafield', cursive;
// font-family: 'Playfair Display', serif;
// font-family: 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}
