@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,300;0,400;0,600;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-rendering: optimizespeed;
}

:root {
    --main-color: #d6ac95;
}

// fontfamily
.fontPoppins {
    font-family: 'Poppins', sans-serif;
}
.fontMrsSaint {
    font-family: 'Mrs Saint Delafield', cursive;
}
.fontPlayfair {
    font-family: 'Playfair Display', serif;
}

@mixin breakpoint($point) {
    @if $point == lg {
        // 990px
        @media (min-width: 61.875em) {
            @content;
        }
    }
}
